.header__item {
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    cursor: pointer;
    color: var(--text-inactive-color);
}

.header__item:hover {
    color: var(--text);
}

.header__item:last-child {
    margin-left: auto;
}

.header__item:nth-child(2) {
    justify-self: start;
}

.header__item:first-child {
    margin-right: 8px;
    color: var(--text);
}

.header__iconWrapper {
    padding: 0;
    max-height: 24px;
}

.header__iconWrapper:last-child {
    margin: 0;
}

