.main {
    background: #1C1C21;
    border-radius: 40px;
}

.order {
    display: flex;
}

.date {
    margin-left: auto;
    text-align: right;
}

.images {
    display: flex;
}

.image {
    position: absolute;
    height: 64px;
}

.images > div {
    margin-left: -16px;
}

.images > div:first-of-type {
    margin-left: 0;
}
