.main {
    max-width: 584px;
    background: #1C1C21;
    border-radius: 40px;
}

.order {
    display: flex;
}

.date {
    margin-left: auto;
    text-align: right;
}

.images {
    display: flex;
}

.imageContainer {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid #801AB2;
    background-color: #000000;
}

.image {
    position: absolute;
    height: 64px;
}

.images > .imageContainer {
    margin-left: -16px;
}

.imageContainer:first-of-type {
    margin-left: 0;
}
