.main {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid #801AB2;
    background-color: #000000;
}

.image {
    position: absolute;
    height: 64px;
}
