.header {
    position: relative;
    min-height: 88px;
    grid-area: header;
    background: var(--background);
    display: flex;
    justify-content: center;
}

.header__nav {
    max-width: 1280px;
    width: 100%;
}

.header__list {
    display: grid;
    grid-template-columns: 178px 197px 3fr 2fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header__logo {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .header {
        padding: 0 20px;
    }
}
