.header {
    position: relative;
    min-height: 88px;
}

.header__nav {

}

.header__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__logo {
    display: block;
    position: absolute;
    left: calc(50% - 145px);
    top: calc(50% - 24px);
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .header {
        padding: 0 20px;
    }
}
